* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

.calendar-container {
    width: 80%;
    margin: 20px;
}

table.calendar {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead th {
    border: 1px solid #ddd;
    padding: 10px;
    height: 40px;
    text-align: center;
}

tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    height: 40px;
    text-align: center;
}

th {
    border: 1px solid #ddd;
    height: auto;
}

tbody th {
    text-align: center;
    width: 100%;
    vertical-align:bottom;
    text-align: center;
    background-color: orange;
}
/* Style pour la ligne qui suit la souris */
#mouse-line {
    position: absolute;
    height: 1px;
    background-color: blue;
    width: 80%;
    pointer-events: none; /* Empêche d'interagir avec la ligne */
    display: none; /* Caché par défaut */
}
#mouse-time {
    position: absolute;
    color: blue;
    font-size: 14px;
    z-index: 1000;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    pointer-events: none; /* Empêche les interactions avec cet élément */
    display: none; /* Caché par défaut */
}




