* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

.calendar-container {
    width: 80%;
    margin: 20px;
}

table.calendar {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead th {
    border: 1px solid #ddd;
    padding: 10px;
    height: 40px;
    text-align: center;
}

tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    height: 40px;
    text-align: center;
}

th {
    border: 1px solid #ddd;
    height: auto;
}

tbody th {
    text-align: center;
    width: 100%;
    padding: 2% 0 0 0; 
    vertical-align:bottom;
    text-align: center;
    background-color: orange;
}


